// variables
@import "../../../styles/variables/colors";
@import "../../../styles/variables//mixins";

.portfolioDetail {
  margin: 160px 0 50px;

  @include mobile {
    margin: 108px 0 0;
  }

  .cardRowSection {
    align-items: center;
    justify-content: center;
  }

  .titleCustom {
    margin: 21px 0 17px;
  }

  .actionRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .headingRow {
    border-left: 4px solid $theme-primary;
    padding-left: 32px;
  }

  .cardRowRadius {
    border-radius: $radius-primary;
    overflow: hidden;
    position: relative;
    margin: 30px 0 40px;

    @include mobile {
      margin: 30px 0;
    }

    .cardRowBanner {
      width: 100%;
      min-height: 558px;

      @include mobile {
        min-height: 180px;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform-origin: left;
      }
    }
  }

  .cardRow {
    margin-bottom: 90px;
  }

  .cardRowAction {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
    }

    .webisteLink {
      color: $white;
      text-decoration: none;
      transition: all 0.5s ease-in-out;

      &:hover {
        color: $theme-primary;
      }
    }
  }
  .subtextCustom {
    max-width: 70%;
    opacity: 0.7;
    margin-top: 40px;

    @include mobile {
      max-width: 100%;
      margin-top: 20px;
    }
  }

  .cardRowInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 112px;

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
      gap: 30px 0;
      margin-bottom: 50px;
    }
  }

  .listStyle {
    opacity: 0.7;
    padding-left: 15px;

    li {
      margin: 15px 0;
    }
  }

  // detailSection
  .detailSection {
    display: flex;
    flex-direction: column;
    gap: 40px 0;

    .rowCustom {
      display: flex;

      @include mobile {
        margin-bottom: 20px;
        gap: 20px 0;
      }
    }
  }

  .subtextInfo {
    @include mobile {
      margin-bottom: 20px;
    }
  }

  .keywordSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba($textLight, 0.2);
    border-bottom: 1px solid rgba($textLight, 0.2);
    padding: 30px 0;
    max-width: 90%;
    margin: 0 auto;

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }

    .keywordList {
      list-style: none;
      padding: 0;
      display: flex;
      align-items: center;
      gap: 0 62px;

      @include mobile {
        margin-top: 20px;
        flex-wrap: wrap;
        gap: 20px;
      }

      a {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: $text-secondary;
        text-decoration: none;
      }
    }
  }
}
