// variables
@import "../../../styles/variables/colors";
@import "../../../styles/variables//mixins";

// heroSection
.theEnergy {
  margin: 108px 0 218px;

  @include mobile {
    margin: 50px 0 0;
  }

  .description {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $white;

    @include mobile {
      margin-top: 20px;
    }
  }

  .counterSection {
    margin-top: 61px;

    @include mobile {
      margin-top: 30px;
    }
  }

  .titleSpace {
    margin: 8px 0 14px;
  }

  .ourMissionVision {
    margin-top: 160px;

    @include mobile {
      margin-top: 50px;
    }

    .cardCustom {
      background: $bg-surface2;
      padding: 40px 32px;
      border-radius: $radius-primary;

      @include mobile {
        margin-bottom: 30px;
        padding: 20px;
      }
    }
  }

  .iconAlign {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
