// variables
@import "../../../styles/variables/colors";
@import "../../../styles/variables//mixins";

// heroSection
.clients {
  min-height: 100vh;
  padding: 120px 0 0;
  position: relative;

  @include mobile {
    padding: 0px 0 0;
  }

  &::before {
    position: absolute;
    top: -190px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/images/bg/lines-graphic.svg");
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
  }

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
    position: relative;

    @include mobile {
      max-width: 100%;
      align-items: flex-start;
      text-align: left;
    }
  }

  .upDownGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 10px;
    padding: 0 120px;
    position: relative;
    z-index: 1;
    max-width: 78%;
    margin: 150px auto 0;

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
      padding: 0 0px;
      gap: 5px;
      margin-top: 50px;
      max-width: 98%;
    }

    .cardGrid {
      background: #19314b;
      border-radius: 8px;
      width: 160px;
      height: 160px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .imageSec {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        scale: 0.8;
      }

      @include mobile {
        width: 100%;
        height: 160px;
      }

      &:nth-child(1),
      &:nth-child(3),
      &:nth-child(5),
      &:nth-child(7) {
        margin-top: -80px;

        @include mobile {
          margin-top: 0px;
        }
      }
    }
  }
}
