// variables
@import "../../../styles/variables/colors";
@import "../../../styles/variables//mixins";

// heroSection
.heroSection {
  margin: 108px 0 218px;

  .heroBtn {
    display: flex;

    .btn {
      padding: 0 30px;
      min-width: 259px;
    }
  }
}
