// variables
@import "../../../styles/variables/colors";
@import "../../../styles/variables//mixins";

// heroSection
.theValuesHome {
  padding: 0px 0 180px;
  position: relative;

  @include mobile {
    padding: 0px 0 80px;
  }

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .trustSec {
    margin-top: 80px;
  }

  .imgItem {
    @include mobile {
      text-align: center;
      max-width: 90%;
      margin: 0 auto 50px;
    }
  }

  .content {
    margin-top: 16px;
  }
}
