// variables
@import "../../styles/variables/colors";
@import "../../styles/variables//mixins";

.contactUs {
  margin: 160px 0;

  @include mobile {
    margin: 120px 0 80px;
  }

  .contactForm {
    background: $bg-surface4;
    max-width: 80%;
    margin: 0 auto;
    padding: 60px 74px;
    margin-top: 80px;
    border-radius: 12px;

    @include mobile {
      max-width: 100%;
      padding: 30px;
      margin-top: 30px;
    }
  }
}
