// variables
@import "../../styles/variables/colors";
@import "../../styles/variables//mixins";

.privacyPolicy {
  margin: 80px 0 160px;
  position: relative;

  .textCustom {
    opacity: 0.7;
    max-width: 85%;
  }

  .cardCustom {
    background: $bg-surface4;
    padding: 59px 106px;
    border-radius: $radius-primary;
    margin-top: 80px;
  }

  .subtextCustom {
    opacity: 0.7;
  }

  .listStyle {
    opacity: 0.7;
    li {
      margin: 10px 0;
    }
  }
}
