// variables
@import "../../../styles/variables/colors";
@import "../../../styles/variables//mixins";

.heroServiceSection {
  padding: 170px 0 100px;
  position: relative;
  z-index: 1;

  @include mobile {
    padding: 130px 0 100px;
  }

  .rowCustom {
    @include mobile {
      flex-direction: column-reverse;
    }
  }

  .imgStyle {
    @include mobile {
      margin-bottom: 70px;
    }
  }

  .heroBtn {
    display: flex;

    .btn {
      padding: 0 30px;
      min-width: 259px;
    }
  }

  .titleCustom {
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 40px;
  }
}
