// ######################################## //
// ## COLORS.SCSS ## //
// ######################################## //

// Black (Gray) Color Shades
$black: #000000;
$gray-1: #111111;
$gray-2: #222222;
$gray-3: #333333;
$gray-4: #444444;
$gray-5: #555555;
$gray-6: #666666;
$gray-7: #777777;
$gray-8: #888888;
$gray-9: #999999;
$gray-a: #aaaaaa;
$gray-b: #bbbbbb;
$gray-c: #cccccc;
$gray-d: #dddddd;
$gray-e: #eeeeee;
$white: #ffffff;
$gray-f9: #f9f9f9;
$gray-f5: #f5f5f5;
$blue-light: #eff0fe;

// Text colors
$text-secondary: #ccd1d7;
$subtextColor: #a3adb7;
$textmuted: #617183;
$textLight: #e0e3e7;

// Extra Color
$gray-dark: #c9cdd8;
$text-dark: #25282b;
$gray-light: #efefef;
$label-text: #6f7588;
$arrow-color: #a8b1ce;
$textDarkColor: #425466;
$textColor-dark: #1e265e;
$borderColor: #edf2f7;
$shadowColor: #3232470d;
$border-color: #eee3d6;
$border-color-2: #dcc797;

// Theme Based
$bodycolor: #001a37;
$theme: #001937;
$theme-primary: #07e0fe;
$theme-secondary: #004799;
$accent1: #fb78ff;
$accent2: #f8cf61;
$theme-yellow: #ffc640;
$theme-pink: #ff85b3;

// Color Shades
$theme-success: #4aae8c;
$theme-dark: #25282b;
$theme-info: #9c6dff;
$theme-warning: #f59e0b;
$theme-green: #36942f;
$theme-warning-light: #fef6e0;
$theme-danger: #cf3701;
$theme-cyan: #35d2cc;
$theme-link: #004b8f;
$theme-blue: #50abed;
