// variables
@import "../../../styles/variables/colors";
@import "../../../styles/variables//mixins";

// heroSection
.howWeWork {
  padding: 0px 0 112px;

  @include mobile {
    min-height: auto;
    padding-bottom: 100px;
  }

  .heroBtn {
    display: flex;

    .btn {
      padding: 0 30px;
      min-width: 259px;
    }
  }

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px 0;
    }
  }

  .imgBox {
    width: 100%;
    height: 417px;
    position: relative;
    overflow: hidden;

    @include mobile {
      width: 100%;
      height: 217px;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: $radius-primary;
    }
  }

  .tabSection {
    margin-top: 60px;
  }

  .howWeWorkSection {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px 0;

    .titleStyle {
      transition: all 0.5s ease-in-out;
      color: $textmuted;
    }

    .activeText {
      color: $theme-primary;
    }
  }

  // .imgStyle {
  //   transition: all 0.5s ease-in-out;
  // }

  .imageSection {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
  }
}
