// variables
@import "../../../styles/variables/colors";
@import "../../../styles/variables//mixins";

// heroSection
.aboutInfo {
  margin-top: 160px;

  @include mobile {
    margin-top: 120px;
  }

  .textSection {
    padding: 64px 80px 47px;
    display: flex;
    flex-direction: column;

    @include mobile {
      padding: 30px 20px;
    }
  }

  .aboutInfo {
    background: $bg-surface2;
    border-radius: $radius-primary;
    overflow: hidden;
    margin-top: 80px;
  }

  .banner {
    height: 340px;
    background-size: cover;

    @include mobile {
      height: 140px;
    }
  }

  .makesSec {
    display: flex;
    gap: 0 40px;

    @include mobile {
      flex-direction: column;
    }
  }

  .textFocus {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #f87e7d;
  }

  .titleCustom {
    margin: 21px 0 17px;

    @include mobile {
      font-size: 20px;
      margin: 10px 0 17px;
    }
  }
}
