// variables
@import "../../../styles/variables/colors";
@import "../../../styles/variables//mixins";

// heroSection
.clientsSay {
  padding: 0px 0 160px;
  position: relative;

  @include mobile {
    padding: 50px 0 120px;
  }

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .subtextInner {
    max-width: 85%;

    @include mobile {
      max-width: 100%;
    }
  }
}
