// variables
@import "../../../styles/variables/colors";
@import "../../../styles/variables//mixins";

.ourExpertise {
  margin: 108px 0 160px;
  background: $bg-surface2;
  padding: 90px 0;

  @include mobile {
    margin: 50px 0;
    padding: 40px 0;
  }

  .subtextCustom {
    max-width: 90%;
  }

  .customRow {
    align-items: center;
  }

  .cardStyle {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    padding-left: 100px;

    @include mobile {
      padding-left: 0;
      margin-top: 30px;
    }
  }

  .cardItem {
    background: $bg-surface3;
    border-radius: $radius-primary;
    padding: 34px;
    display: flex;
    align-items: center;
    gap: 0 30px;

    @include mobile {
      padding: 20px;
    }
  }

  .iconBox {
    min-width: 54px;
    height: 54px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $bg-surface4;
  }
}
