// variables
@import "../../../styles/variables/colors";
@import "../../../styles/variables//mixins";

.stackSection {
  .iconSec {
    display: flex;
    gap: 0 18px;
  }

  .techWrapper {
    margin-bottom: 86px;
  }

  .tectInfoSection {
    margin-top: 69px;

    @include mobile {
      margin-top: 0px;
    }
  }

  .techListSection {
    margin-top: 40px;

    .techList {
      padding: 0;
      list-style: none;
      display: flex;
      gap: 0 49px;
      text-align: center;
      flex-wrap: wrap;

      @include mobile {
        gap: 30px;
      }
    }
  }
}
