@import "./variables/mixins";

.title1,
.title2,
.title3,
.title4,
.title5,
.title6,
.title7 {
  font-weight: 700;
  margin: 0;
}

// title styles
.title1 {
  font-size: 80px;
  line-height: 96px;

  @include mobile {
    font-size: 50px;
    line-height: 66px;
  }
}

.title2 {
  font-size: 64px;
  line-height: 76px;

  @include mobile {
    font-size: 36px;
    line-height: 46px;
  }
}

.title3 {
  font-size: 48px;
  line-height: 58px;

  @include mobile {
    font-size: 28px;
    line-height: 38px;
  }
}

.title4 {
  font-size: 32px;
  line-height: 36px;

  @include mobile {
    font-size: 24px;
    line-height: 34px;
  }
}

.title5 {
  font-size: 24px;
  line-height: 28px;
}

.title6 {
  font-size: 20px;
  line-height: 24px;
}

.title7 {
  font-size: 16px;
  line-height: 20px;
}

.text1 {
  font-size: 28px;
  line-height: 34px;
  font-weight: 600;
}

.text2 {
  font-size: 24px;
  line-height: 28px;
}

.text3 {
  font-size: 20px;
  line-height: 24px;
}

.text4 {
  font-size: 16px;
  line-height: 20px;
}

.text5 {
  font-size: 14px;
  line-height: 18px;
}

.text6 {
  font-size: 12px;
  line-height: 18px;
}

.subtext {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $text-secondary;
}
.subtext-semibold {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.text-normal {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-semibold {
  font-weight: 600;
}

.text-bold {
  font-weight: 700;
}
