// variables
@import "../../../styles/variables/colors";
@import "../../../styles/variables//mixins";

.portfolioInfo {
  margin: 160px 0 80px;

  @include mobile {
    margin: 100px 0 0px;
  }

  .cardRowSection {
    margin-top: 80px;
  }

  .titleCustom {
    margin: 21px 0 17px;
  }

  .actionRow {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile {
      align-items: flex-start;
      gap: 30px 0;
    }
  }

  .headingRow {
    border-left: 4px solid $theme-primary;
    padding-left: 32px;
  }

  .cardRowRadius {
    border-radius: $radius-primary;
    overflow: hidden;
    position: relative;
    margin: 80px 0 40px;

    @include mobile {
      margin: 30px 0;
    }

    .cardRowBanner {
      width: 100%;
      min-height: 558px;

      @include mobile {
        min-height: 180px;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform-origin: left;
      }
    }
  }

  .cardRow {
    margin-bottom: 90px;
  }

  .cardRowAction {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }

    .webisteLink {
      color: $white;
      text-decoration: none;
      transition: all 0.5s ease-in-out;

      &:hover {
        color: $theme-primary;
      }
    }

    .subtextCustom {
      max-width: 50%;
      text-align: right;

      @include mobile {
        max-width: 100%;
        text-align: left;
        margin-top: 10px;
      }
    }
  }
}
